<article ng-controller='ngCtr' data-ng-init='init()'>
    <label class='page-title page-title-margin-bottom'>Temporary Delete Employee</label>
    <div id='employee-grid'></div>
</article>
<script>
    ngApp.controller('ngCtr', function ($scope) {
        let employees = null;

        $scope.init = () => {
            getDeletedEmployees();
        };

        const getDeletedEmployees = () => {
            fetch('@Url.Action("GetDeletedEmployees", "TempDeleteEmployee")', null,
                response => {
                    employees = response.Data;
                    showEmployeeGrid();
                });
        };

        const showEmployeeGrid = () => {
            if ($('#employee-grid').data('kendoGrid'))
                $('#employee-grid').data('kendoGrid').destroy();
            $('#employee-grid').kendoGrid({
                dataSource: {
                    data: employees,
                    pageSize: 10
                },
                toolbar: ["excel"],
                excel: {
                    fileName: "Employee.xlsx",
                    allPages: true
                },
                sortable: true,
                filterable: true,
                resizable: true,
                pageable: { pageSizes: true },
                dataBound: function () {
                    for (let i = 0; i < this.columns.length; i++)
                        this.autoFitColumn(i);
                    const rows = this.items();
                    $(rows).each(function () {
                        const index = $(this).index() + 1 + ($('#employee-grid').data('kendoGrid').dataSource.pageSize() * ($('#employee-grid').data('kendoGrid').dataSource.page() - 1));
                        const rowLabel = $(this).find('.row-number');
                        $(rowLabel).html(index);
                    });
                },
                columns: [
                    {
                        title: 'No',
                        template: "<span class='row-number'></span>",
                        attributes: { style: 'text-align: right' },
                    },
                    { field: 'Id', hidden: true },
                    { field: 'FirstName', title: 'First Name' },
                    { field: 'LastName', title: 'Last Name' },
                    { field: 'Company.Name', title: 'Company' },
                    { field: 'Email', title: 'Email' },
                    { field: 'Phone', title: 'Phone' },
                    {
                        title: 'Actions',
                        headerAttributes: { style: 'text-align: center' },
                        command: [
                            {
                                name: 'restore',
                                template: "<a class='k-button k-grid-restore' style='height:14px; line-height:normal'><span class='fa fa-refresh'></span></a>",
                                click: restore,
                            },
                            {
                                name: 'del-permanent',
                                template: "<a class='k-button k-grid-del-permanent' style='height:14px; line-height:normal'><span class='fa fa-trash'></span></a>",
                                click: deletePermanent,
                            },
                        ],
                    },
                ]
            });
        };

        function restore(e) {
            const row = this.dataItem($(e.currentTarget).closest('tr'));
            showMessageBox('Are you sure want to restore this Employee?', 'Confirm').then(function (result) {
                if (result)
                    fetch('@Url.Action("RestoreDeletedEmployee", "TempDeleteEmployee")', { id: row.Id },
                        response => {
                            showMessageBox(response.Message, response.Status);
                            getDeletedEmployees();
                        });
            });
        };

        function deletePermanent(e) {
            const row = this.dataItem($(e.currentTarget).closest('tr'));
            showMessageBox('Are you sure want to permanently delete this Employee?', 'Confirm').then(function (result) {
                if (result)
                    fetch('@Url.Action("PermanentDeleteEmployee", "TempDeleteEmployee")', { id: row.Id },
                        response => {
                            showMessageBox(response.Message, response.Status);
                            getDeletedEmployees();
                        });
            });
        };

    });
</script>